<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>
      <ul>
        <% @survey.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
  <fieldset class="survey-field pure-form">
  <div class="field survey-title">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field survey-desc">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <button type="submit" class="create-button pure-button pure-button-primary">Save</button>
  </fieldset>
  </div>
  <h2>Questions</h2>

  <div class="questions-container">
  <%=  f.fields_for(:questions) do |ff| %>
   <fieldset class="question-field pure-form">
    <div class="field order-container">
      <%= ff.label :order %>
      <%= ff.number_field :order, {class: "order"} %>
    </div>
    <div class="field type-container">
      <%= ff.label :question_type %>
      <%= ff.select(:question_type,
              {'Yes/No' => 'boolean', 'Short Answer' => 'string', 'Long Answer' => 'text'},
              {include_blank: true},
              {class: "type-select"}
          ) %>
    </div>
    <div class="field value-container">
      <%= ff.label :value %>
      <%= ff.text_field :value, {class: "enter-question"} %>
    </div>
    <div class="field require">
      <%= ff.label :require, "Required" %>
      <%= ff.check_box :require, {class: 'checkbox'} %>
    </div>
    <div class="field require delete-container">
      <%= ff.label :_destroy, "Delete" %>
      <%= ff.check_box :_destroy, {class: 'checkbox delete'} %>
    </div>
    <button type="submit" class="create-button pure-button pure-button-primary">Save</button>
    <button type="button" class="create-button-remove pure-button pure-button-primary">x</button>
   </fieldset>

  <% end %>
    </div>
  <div class="action-container">
    <div class="actions">
      <button type="button" class="create-button-add pure-button pure-button-primary">Add Question</button>
    </div>
    <div class="actions">
      <%= f.submit :class=> 'pure-button pure-button-primary update-survey'%>
    </div>

    <% if @survey.published %>
      <div class="actions">
        <%= f.submit "Unpublish", data: { confirm: "Are you sure?" }, :class=> 'pure-button pure-button-primary unpublish' %>
      </div>
    <% else %>
      <div class="actions">
        <%= f.submit "Publish", :class=> 'pure-button pure-button-primary publish' %>
      </div>
    <% end %>
  </div>
<% end %>

<script type="text/html" id="question-template">
  <fieldset class="question-field pure-form">
    <div class="field order-container">
      <label for="survey_questions_attributes_2_order">Order</label><br>
      <input class="order" value="0" type="number" name="survey[questions_attributes][2][order]" id="survey_questions_attributes_2_order" />
    </div>
    <div class="field type-container">
      <label for="survey_questions_attributes_2_question_type">Question type</label>
      <select class="type-select" name="survey[questions_attributes][2][question_type]" id="survey_questions_attributes_2_question_type"><option value=""></option>
        <option value="boolean">Yes/No</option>
        <option value="string">Short Answer</option>
        <option value="text">Long Answer</option></select>
    </div>
    <div class="field value-container">
      <label for="survey_questions_attributes_2_value">Value</label>
      <input class="enter-question" type="text" name="survey[questions_attributes][2][value]" id="survey_questions_attributes_2_value" />
    </div>
    <div class="field require">
      <label for="survey_questions_attributes_2_require">Required</label>
      <input name="survey[questions_attributes][10][require]" type="hidden" value="0" /><input class="checkbox" type="checkbox" value="1" name="survey[questions_attributes][2][require]" id="survey_questions_attributes_2_require" />
    </div>
    <div class="field require delete-container">
      <label for="survey_questions_attributes_2__destroy">Delete</label>
      <input name="survey[questions_attributes][2][_destroy]" type="hidden" value="0" /><input class="checkbox delete" type="checkbox" value="1" name="survey[questions_attributes][2][_destroy]" id="survey_questions_attributes_2__destroy" />
    </div>
    <button type="submit" class="create-button pure-button pure-button-primary">Save</button>
    <button type="button" class="create-button-remove pure-button pure-button-primary">x</button>
  </fieldset>
</script>
