<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>
      <ul>
        <% @survey.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <!-- <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div> -->
  <div>
  <fieldset class="survey-field pure-form">
  <div class="field survey-title">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field survey-desc">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <button type="submit" class="create-button pure-button pure-button-primary">Save</button>
  </fieldset>
  </div>
  <h2>Questions</h2>
  <%=  f.fields_for(:questions) do |ff| %>
    <!-- <div class="field">
      <%= ff.label :survey_id %><br>
      <%= ff.text_field :survey_id %>
    </div> -->
   
   <fieldset class="question-field pure-form">
    <div class="field order-container">
      <%= ff.label :order %><br>
      <%= ff.number_field :order, {class: "order"} %>
    </div>
    <div class="field type-container">
      <%= ff.label :question_type %>
      <%= ff.select(:question_type,
              {'Yes/No' => 'boolean', 'Short Answer' => 'string', 'Long Answer' => 'text'},
              {include_blank: true},
              {class: "type-select"}
          ) %>
    </div>
    <div class="field value-container">
      <%= ff.label :value %>
      <%= ff.text_field :value, {class: "enter-question"} %>
    </div>
    <div class="field require">
      <%= ff.label :require, "Required" %>
      <%= ff.check_box :require, {class: 'checkbox'} %>
    </div>
    <div class="field require">
      <%= ff.label :_destroy, "Delete" %>
      <%= ff.check_box :_destroy, {class: 'checkbox'} %>
    </div>
    <button type="submit" class="create-button pure-button pure-button-primary">Save</button>
    <button type="button" class="create-button-add pure-button pure-button-primary">+</button>
   </fieldset>

  
  <% end %>

  <div class="actions">
    <%= f.submit :class=> 'pure-button pure-button-primary update-survey'%>
  </div>
<% end %>
