<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>
      <ul>
        <% @survey.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <!-- <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div> -->
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <h2>Questions</h2>
  <%=  f.fields_for(:questions) do |ff| %>
    <div class="field">
      <%= ff.label :order %><br>
      <%= ff.number_field :order, {class: "WHATEVER"} %>
    </div>
    <div class="field">
      <%= ff.label :question_type %><br>
      <%= ff.select :question_type,
              {'Yes/No' => 'boolean', 'Short Answer' => 'string', 'Long Answer' => 'text'},
              {include_blank: true},
              {class: "EXAMPLE"}
      %>
    </div>
    <div class="field">
      <%= ff.label :value, "Question" %><br>
      <%= ff.text_field :value %>
    </div>
    <div class="field">
      <%= ff.label :require, "Required" %>
      <%= ff.check_box :require %>
    </div>
    <div class="field">
      <%= ff.label :_destroy, "Delete" %>
      <%= ff.check_box :_destroy %>
    </div>
    <hr/>
  <% end %>

  <span class="actions">
    <%= f.submit "Save"%>
  </span>

  <span class="actions">
    <%= f.submit "Publish" %>
  </span>

  <span class="actions">
    <%= f.submit "Unpublish", data: { confirm: "Are you sure?" } %>
  </span>


<% end %>
