<h1>Listing Surveys</h1>
<div class="survey-list-container">
  <% @surveys.each do |survey| %>
  <div class="survey-card">
      <div class="survey-data"><span class="survey-data-content"><strong>User:</strong></span> <%= survey.user %></div>
      <div class="survey-data"><span class="survey-data-content"><strong>Title:</strong></span> <%= survey.title %></div>
      <div class="survey-data"><span class="survey-data-content"><strong>Description:</strong></span> <%= survey.description %></div>
      <div class="survey-data"><span class="survey-data-content"><strong>Published:</strong></span> <%= survey.published %></div>
      <ul class="survey-list-actions">
        <li class="survey-list-button"><%= link_to 'Show', survey, {class: 'pure-button survey-show'} %></li>
        <li class="survey-list-button"><%= link_to 'Edit', edit_survey_path(survey), {class: 'pure-button survey-edit'} %></li>
        <li class="survey-list-button"><%= link_to 'Destroy', survey, :class=> 'pure-button survey-destroy', method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>
  </div>
  <% end %>
</div>