<p id="notice"><%= notice %></p>

<h1>
  <%= @survey.title%>
</h1>

<div class = "survey-list-container">

  <div class="survey-card-show">

    <div class = "survey-creator">
      <strong>
        Created by
        <%= @survey.user.name %>
      </strong>
    </div><br>

    <div class = "survey-description">
      <strong>Description</strong><br><br>
      <%= @survey.description %>
    </div><br>

    <div class = "published">
      <strong>Published:</strong>
      <%= @survey.published %>
    </div><br>
    <hr><br/>

          <% @survey.questions.order(:order).each do |q| %>
          <strong>Question <%= q.order %><br/><br/></strong>


        <strong>Question Type:</strong>

          <% case q.question_type %>
          <% when "string" %>
            Short Answer
          <% when "boolean" %>
            Yes/No
          <% when "text" %>
            Long Answer
          <% end %><br/>




        <br/>
        <strong>Question:</strong>
        <%= q.value %><br/><br/>

        <strong>Required: </strong>

        <% if q.require == true %>
          Yes
        <% else %>
          No
        <% end %>
        <br/><br/>
        <hr>
        <br/>
      <% end %>
    <div class = "survey-view-page-actions-container">

      <ul class="view-survey-page-list-actions">

        <li class="survey-list-button" id = "show-page-edit-button"><%= link_to 'Edit', edit_survey_path(@survey), {class: 'pure-button survey-edit'} %></li>

        <li class="survey-list-button"><%= link_to 'Destroy', @survey, :class=> 'pure-button survey-destroy', method: :delete, data: { confirm: 'Are you sure?' } %></li>

      </ul>

    </div>

  </div>

</div>
