<p>
  <strong>By:</strong>
  <%= @survey.user %>
</p>
<p>
  <strong>Title:</strong>
  <%= @survey.title %>
</p>
<p>
  <strong>Description:</strong>
  <%= @survey.description %>
</p>
<% @survey.questions.order(:order).each do |q| %>
  Question <%= q.order %><br/>
  Question Type: <%= q.question_type %><br/>
  Question: <%= q.value %><br/>
  required: <%= q.require %><br/>
  <hr>
<% end %>
<br/>
<%= link_to 'Back', surveys_path %>
