<h1>Listing Your Surveys</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Title</th>
      <th>Description</th>
      <th>Published</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @surveys.each do |survey| %>
      <tr>
        <td><%= survey.user.name.capitalize %></td>
        <td><%= survey.title.capitalize %></td>
        <td><%= survey.description.capitalize %></td>
        <td><%= survey.published %></td>
        <td><%= link_to 'Show', survey %></td>
        <td><%= link_to 'Take', survey %></td>
        <td><%= link_to 'Edit', edit_survey_path(survey) %></td>
        <td><%= link_to 'Destroy', survey, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
