<div class="header pure-menu pure-menu-horizontal">
	<ul class="menu pure-menu-list">
		<li class="menu-item pure-menu-item">
			<%= link_to "Home", root_path %>
		</li>
		<% if session[:user_id] %>
		<li class="menu-item pure-menu-item">
			<%= link_to "Logout", logout_path %>
		</li>
		<li class="menu-item pure-menu-item">
			<%= link_to "Create Survey", new_survey_path %>
		</li>
		<li class="menu-item pure-menu-item">
			<%= link_to "My Surveys", mysurveys_path %>
		</li>
		<% else %>
		<li class="menu-item pure-menu-item">
			<%= link_to "Sign up", new_user_path %>
		</li>
		<li class="menu-item pure-menu-item">
			<%= link_to "Login", login_path%>
		</li>
		<% end %>

		<%= @user.name rescue nil %>
	</ul>
</div>
