<!DOCTYPE html>
<html>
  <head>
    <title>Opossum</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  </head>
  <%= render 'layouts/header' %>
  <body>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
  <div id="footnotes_holder"></div>
</html>
