<!DOCTYPE html>
<html>
  <head>
    <title>Opossum</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <%= render 'layouts/header' %>
  <body>
    <p id="notice"><%= notice %></p>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
